:root {
    --primary-bg-color: #6767ff;
    --primary-font-color: #000000;
    --secondary-font-color: #6767ff;
    --secondary-bg-color: #ffffff;
    --secondary-border-color: #6767ff;
    --colored-bg: #bbbbff;
    --white-colored-bg: #ffffff;
    --white-bg: #ffffff1;
    --font1: arial;
    --font-color3: #ffffff;
}

body{
    height: 500vh;
    font-family: var(--font1);
}

nav{
    height: clamp(50px, 3vw, 60px);
    position: sticky;
    top: 0;
    background-color: var(--primary-bg-color);
    overflow: visible;
    z-index: 800;
}

#logo{
    margin: 0 30px;
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: var(--font-color3);
}

#ham-menu{
    display: none;
    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
    left: 15%;
    z-index: 1000;
}

#ham-menu span{
    height: 5px;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

#ham-menu span:nth-child(1){
    top: 25%;
}

#ham-menu span:nth-child(3){
    top: 75%;
}

#off-screen-menu{
    display: none;
}

#nav-menu{
    height: 100%;
    font-weight: bold;
    font-size: clamp(2px, 3vw, 1.2rem);
    padding: 0 clamp(10px, 3vw, 50px);
}

.nav-li a{
    color: var(--font-color3);
    text-decoration: none;
    margin: 0 clamp(10px, 3vw, 20px);
    /* transition: all .5s ease-in-out; */
}

.nav-li a:hover{
    text-decoration: underline !important;
}

.nav-li a:active{
    color: #b6b6b6;
}

#main-bg {
    height: 100vh;
    width: 100vw;
    background: url(../img/main-bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    z-index: -1000;
}

#name-cont{
    position: absolute;
    height: 100vh;
    width: 100%;
    color: var(--secondary-font-color);
    gap: 10px;
}

#main-name{
    font-size: clamp(3.5rem, 10vw, 5rem);
    font-weight: bold;
}

@media only screen and (max-width: 795px) {

    #nav-menu{
        display: none;
    }

    #logo{
        width: 100%;
        display: flex;
        justify-content: right;
        margin: 0 30px;
    }

    #off-screen-menu{
        display: flex;
        background-color: var(--primary-bg-color);
        height: 100vh;
        width: 100%;
        max-width: 200px;
        position: fixed;
        z-index: 900;
        margin-top: clamp(40px, 3vw, 60px);
        font-size: 1.5rem;
        transition: .3s ease;
        left: -200px;
    }

    
    #off-screen-menu ul{
        gap: 20px;
        margin-top: 20px;
    }
    .off-screen-menu-active{
        left: 0 !important;
    }

    .ham-menu-active span:nth-child(1){
        top: 50% !important;
        transform: translate(-50%, -50%) rotate(45deg) !important;
    }

    .ham-menu-active span:nth-child(2){
        opacity: 0 !important;
    }

    .ham-menu-active span:nth-child(3){
        top: 50% !important;
        transform: translate(-50%, -50%) rotate(-45deg) !important;
    }

    #ham-menu{
        display: block !important;
    }
}